* {
	margin: 0;
	padding: 0;
	outline: none;
	position: relative;
	font-family: sans-serif;
}

html, body {
	height: 100%;
	background-image: url(bg.jpg);
	background-size: cover;
	background-attachment: fixed;
}

div {
	position: relative;
	box-sizing: border-box;
}

.wrap {
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	color: #EEE;
}

.head {
	height: 80px;
	background: linear-gradient(90deg, #FF0, #FF0 30%, #0F0 80%, #FA0 95%);
}

.inner_head {
	height: 80px;
	background: linear-gradient(180deg, transparent, #000);
}

.content a {
	display: block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	color: #EEE;
	border-radius: 7px;
	background-color: #009688;
}

.content audio {
	display: block;
}

.content a,
.content p,
.content audio {
	margin: 10px 0;
}

.audio_block {
	margin-top: 20px;
	background-color: #111;
	padding: 15px;
}
